@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #111114;
    --dark-orange: #fb8f2c;
    --third-color: #cfcfd0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.6rem;
    background-color: var(--background-color);
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Bodoni", serif;
    font-size: inherit;
}
